<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <xmp theme="united" style="display:none;">
      <%- readme %>
    </xmp>

    <script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
  </body>
</html>
